- var post = {}
- post.title           = 'Actualizar repositorio forked a partir de las actualizaciones del repositorio original'
- post.date            = '17 enero, 2016'
- post.author          = 'Jan Sanchez'
