extends ./jade/_layout.jade
block post
	//- aquí empieza el contenido del post
	h2 ¿Qué significa hacerle Fork a un repositorio?
	p.
		Hacerle fork a un repositorio significa copiarlo. Copiar un repositorio nos permite experimentar libremente sin afectar al proyecto original, obviamente porque nuestro fork es una copia, que se encontrará en nuestra cuenta de github, bitbucket o algún otro servicio como estos.

		Por lo general, las copias se utilizan para de proponer cambios en el proyecto de otra persona u organización ó para utilizar el proyecto de otra persona como punto de partida para nuevas ideas.

	h2 Haciendo fork a un repositorio

	p.
		Para poner en práctica este concepto vamos a hacerle fork al repositorio de relay, relay es un Framework Javascript creado por el equipo de desarrollo de Facebook.
	p 	Para llevar a cabo esto primero, necesitamos loguearnos en nuestra cuenta de
		a(href="https://github.com/login?return_to=https://github.com/facebook/relay", target="_blank", title="login en github") github, si no tienes una cuenta de github, entonces antes debes&nbsp;
		a(href="https://github.com/join?source=frontendlabs.io", target="_blank", title="crear cuenta de github") crearla
		| .
	p 	Una vez logueados haremos un fork de este repositorio, para esto nos dirigimos al repositorio de&nbsp;
		a(href="https://github.com/facebook/relay", target="_blank", title="relay - facebook") relay

	p
		img(src="http://frontendlabs.io/wp-content/uploads/2016/02/forked.png", alt="forked repository")

	p
		img(src="http://frontendlabs.io/wp-content/uploads/2016/02/fork-repository.png", alt="forked repository")



	pre(class="prettyprint lang-sh")
		code.
			git fork https://github.com/facebook/relay.git

	p Cuando hacemos "fork" a un repositorio de Github, muchas veces queremos seguir teniendo las actualizaciones desde el repositorio principal, por lo cual en este artículo te explicaremos como mantener actualizado un repositorio "forked".
	p texto y un enlace
		a(href="http://frontendlabs.io/") Frontendlabs.io
	p texto que contiene el nombre de una
		span(class="inline_folder") carpeta de un
		span(class="inline_file") archivo y de un
		span(class="inline_code") codigo
	pre(class="prettyprint lang-js")
		code.
			var hola = 'ejemplo de string';

	br

	blockquote
		p.
			El comunista desafía al creyente. El comunista es un creyente que desafía a otra creencia, de modo que esto se vuelve una protección? una reacción en contra de la creencia.
			Si usted desafía mi reputación o cuestiona mi creencia? yo reacciono porque necesito protegerme.
