extends ./jade/_layout.jade
block post
	//- aquí empieza el contenido del post
	h2 ¿Cómo crear un API REST falso en unos cuantos minutos? 
	p.pre-irrelevant
		|A partir de la versión 3.0, MongoDB se puede instalar de una forma más fácil en Linux
		|Ubuntu ó Elementary OS.
		|En este artículo veremos cómo instalar MongoDB para Ubuntu 12.04 LTS (Precise Pangolin) y 14.04 LTS (Trusty Tahr).
	p.pre-irrelevant
		|Es muy probable que este tipo de instalación también funcione correctamente para las nuevas versiones de Ubuntu.

	h2 Importando la clave pública usada por el sistema gestionador de paquetes de Ubuntu
	p.pre-irrelevant
		|Las herramientas de gestión de paquetes de Ubuntu (es decir, dpkg y apt) garantizan la coherencia y
		|la autenticidad del paquete, al exigir que los distribuidores firmen los paquetes con claves GPG.
		|Ejecuta el siguiente comando para importar la clave pública GPG de MongoDB:

	pre(class="prettyprint lang-sh")
		code.
			sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv EA312927
	br
	
	p
		|Bueno amigos espero que este artículo les sea de utilidad, si encuentran algún fallo por favor no
		|duden en comentarlo para poder corregir los pasos de la instalación y ya saben por favor no se
		|olviden de compartir el artículo.
	p
		img(class="aligncenter", src="http://frontendlabs.io/wp-content/uploads/2016/04/mongodb-logo-gray.png", alt="como instalar mongodb en linux ubuntu")

	p


	h2 Fuentes
	p
		|MongoDB, Inc. 
		i Install MongoDB Community Edition on Ubuntu.
		|  [En línea] [Fecha de consulta: 19 de Abril del 2016]. 
		br
		|Disponible en: 
		a(href="https://docs.mongodb.org/manual/tutorial/install-mongodb-on-ubuntu/", target="_blank",
		title="Install MongoDB Community Edition on Ubuntu") https://docs.mongodb.org/manual/tutorial/install-mongodb-on-ubuntu/
		|.
