extends ./jade/_layout.jade
block post
	//- aquí empieza el contenido del post
	h2 titulo de sección
	p contenido de un parrafo
	p texto y un enlace
		a(href="http://frontendlabs.io/") Frontendlabs.io
	p texto que contiene el nombre de una
		span(class="inline_folder") carpeta de un
		span(class="inline_file") archivo y de un
		span(class="inline_code") codigo
	pre(class="prettyprint lang-js")
		code.
			var hola = 'ejemplo de string';
	br

	blockquote
		p.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
