extends ./jade/_layout.jade
block post
	//- aquí empieza el contenido del post
	h2 iOS Guidelines
	p.
		contenido

	pre(class="prettyprint lang-sh")
		code.
			git fork https://github.com/facebook/relay.git

	p Cuando hacemos "fork" a un repositorio de Github, muchas veces queremos seguir teniendo las actualizaciones desde el repositorio principal, por lo cual en este artículo te explicaremos como mantener actualizado un repositorio "forked".
	p texto y un enlace
		a(href="http://frontendlabs.io/") Frontendlabs.io
	p texto que contiene el nombre de una
		span(class="inline_folder") carpeta de un
		span(class="inline_file") archivo y de un
		span(class="inline_code") codigo
	pre(class="prettyprint lang-js")
		code.
			var hola = 'ejemplo de string';

	br

	blockquote
		p.
			El comunista desafía al creyente. El comunista es un creyente que desafía a otra creencia, de modo que esto se vuelve una protección? una reacción en contra de la creencia.
			Si usted desafía mi reputación o cuestiona mi creencia? yo reacciono porque necesito protegerme.
