extends ./pug/_layout.pug
block post
	//- aquí empieza el contenido del post
	h2 Insomnia: Un nuevo Cliente REST hecho con Javascript!
	p <b>Insomnia</b> es un nuevo <b>Cliente REST multiplataforma</b>, construído sobre <a href="https://electron.atom.io/" target="_blank" title="Electron.io">Electron</a>, Electron e Insomnia han sido desarrollados con Javascript.

	p La idea de los creadores es que sea este Cliente REST sea altamente intuitivo, para que consumir, hacer debug,  y todas las otras acciones que se realizan en un Cliente REST sean totalmente intuitivas.

	ul
		li: a(href="https://www.getpostman.com/", target="_blank", title="Cliente REST Postman") Postman

	p Suscríbete a los que te parezcan más interesantes en bas

	p
		img(class="aligncenter", src="https://frontendlabs.io/wp-content/uploads/2014/11/logofe.png", alt="FrontendLabs")
