extends ./jade/_layout.jade
block post
	//- aquí empieza el contenido del post
	h2 Soy un Desarrollador Front-End ¿Cómo mantenerme actualizado?
	p El mundo del desarrollo es sorprendentemente dinámico, las tecnologías, herramientas, tendencias, los flujos de trabajo y absolutamente todo en este mundo se actualiza constantemente. Y como nosotros sabemos lo difícil que puede ser mantenerse actualizado, nos animamos a contarte ¡cómo nos actualizamos nosotros!

	h2 1.- Newsletters (Boletines)
	p En la siguiente lista te presentamos los mejores newsletters de información sobre tecnologías Front-End, solo tienes que registrar tu correo electrónico y de forma diaria o semanal empezarás a recibir estos newsletters:
	
	ul
		li: a(href="http://javascriptweekly.com/", target="_blank", title="Javascript Weekly") Javascript Weekly
		li: a(href="http://css-weekly.com/", target="_blank", title="Css Weekly") Css Weekly
		li: a(href="http://uxdesignweekly.com/", target="_blank", title="UX Design Weekly") UX Design Weekly
		li: a(href="https://www.smashingmagazine.com/the-smashing-newsletter/", target="_blank", title="The Smashing Email Newsletter") The Smashing Email Newsletter
		li: a(href="https://www.sitepoint.com/newsletter/", target="_blank", title="Sitepoint") Sitepoint
		li: a(href="http://frontendfocus.co/", target="_blank", title="Frontend Focus") Frontend Focus
		li: a(href="https://web-design-weekly.com/newsletter/", target="_blank", title="UX Design Weekly") Web Design Weekly
		li: a(href="http://www.hackernewsletter.com/", target="_blank", title="Hacker Newsletter") Hacker Newsletter
		li: a(href="https://www.producthunt.com/newsletter/subscribe", target="_blank", title="Product Hunt") Product Hunt
		li: a(href="http://dailycssimages.com/", target="_blank", title="Daily CSS Images") Daily CSS Images
		
		br
		
		p Suscríbete a los que te parezcan más interesantes en base a tus necesidades y cuando te empiecen a llegar los boletines, evalúa las opciones y quédate con las mejores.

	h2 2.- Twitter
	p Twitter es definitivamente uno de los mejores lugares para encontrar información sobre lo último del Front-End, Diseño, UX y demás. A continuación te dejamos una lista de algunos referentes de desarrollo Front-End a los cuales nosotros seguimos y te recomendamos seguir en Twitter:
	
	h3 Javascript
	ul
		li: a(href="https://twitter.com/rauschma", target="_blank", title="Axel Rauschmayer (@rauschma)") Axel Rauschmayer (@rauschma)
		li: a(href="https://twitter.com/dan_abramov", target="_blank", title="Dan Abramov (@dan_abramov)") Dan Abramov (@dan_abramov)
		li: a(href="https://twitter.com/sebmck", target="_blank", title="Sebastian McKenzie (@sebmck)") Sebastian McKenzie (@sebmck)
		li: a(href="https://twitter.com/youyuxi", target="_blank", title="Evan You (@youyuxi)") Evan You (@youyuxi)
		li: a(href="https://twitter.com/joemccann", target="_blank", title="Joe McCann (@joemccann)") Joe McCann (@joemccann)
		li: a(href="https://twitter.com/codylindley", target="_blank", title="Cody Lindley (@codylindley)") Cody Lindley (@codylindley)
		li: a(href="https://twitter.com/kentcdodds", target="_blank", title="Kent C. Dodds (@kentcdodds)") Kent C. Dodds (@kentcdodds)
		li: a(href="https://twitter.com/addyosmani", target="_blank", title="Addy Osmani (@addyosmani)") Addy Osmani (@addyosmani)
		li: a(href="https://twitter.com/elijahmanor", target="_blank", title="Elijah Manor (@elijahmanor)") Elijah Manor (@elijahmanor)
		li: a(href="https://twitter.com/mathias", target="_blank", title="Mathias Bynens (@mathias)") Mathias Bynens (@mathias)
		li: a(href="https://twitter.com/izs", target="_blank", title="Isaac Z. Schlueter (@izs)") Isaac Z. Schlueter (@izs)
		li: a(href="https://twitter.com/Vjeux", target="_blank", title="Christopher Chedeau (@Vjeux)") Christopher Chedeau (@Vjeux)
		li: a(href="https://twitter.com/ljharb", target="_blank", title="Jordan Harband (@ljharb)") Jordan Harband (@ljharb)		
		li: a(href="https://twitter.com/EtnasSoft", target="_blank", title="Carlos Benítez (@EtnasSoft)") Carlos Benítez (@EtnasSoft)
		li: a(href="https://twitter.com/nzgb", target="_blank", title="Nicolás Bevacqua (@nzgb)") Nicolás Bevacqua (@nzgb)
		li: a(href="https://twitter.com/_developit", target="_blank", title="Jason Miller (@_developit)") Jason Miller (@_developit)
		li: a(href="https://twitter.com/TheLarkInn", target="_blank", title="Sean Larkin (@TheLarkInn)") Sean Larkin (@TheLarkInn)
		li: a(href="https://twitter.com/wSokra", target="_blank", title="Tobias Koppers (@wSokra)") Tobias Koppers (@wSokra)
		li: a(href="https://twitter.com/rauchg", target="_blank", title="Guillermo Rauch (@rauchg)") Guillermo Rauch (@rauchg)
		li: a(href="https://twitter.com/sindresorhus", target="_blank", title="Sindre Sorhus (@sindresorhus)") Sindre Sorhus (@sindresorhus)
		
	h3 CSS & HTML
	ul
		li: a(href="https://twitter.com/brad_frost", target="_blank", title="Brad Frost (@brad_frost)") Brad Frost (@brad_frost)
		li: a(href="https://twitter.com/chriscoyier", target="_blank", title="Chris Coyier (@chriscoyier)") Chris Coyier (@chriscoyier)
		li: a(href="https://twitter.com/leaverou", target="_blank", title="Lea Verou (@leaverou)") Lea Verou (@leaverou)
		li: a(href="https://twitter.com/rem", target="_blank", title="Remy Sharp (@rem)") Remy Sharp (@rem)
		li: a(href="https://twitter.com/anna_debenham", target="_blank", title="Anna Debenham (@anna_debenham)") Anna Debenham (@anna_debenham)
		li: a(href="https://twitter.com/mdo", target="_blank", title="Mark Otto (@mdo)") Mark Otto (@mdo)
		li: a(href="https://twitter.com/ebidel", target="_blank", title="Eric Bidelman (@ebidel)") Eric Bidelman (@ebidel) - Polymer
		li: a(href="https://twitter.com/hakimel", target="_blank", title="Hakim El Hattab (@hakimel)") Hakim El Hattab (@hakimel)
		li: a(href="https://twitter.com/cleancoderocker", target="_blank", title="Philip Ackermann (@cleancoderocker)") Philip Ackermann (@cleancoderocker)
		li: a(href="https://twitter.com/intelligibabble", target="_blank", title="Leland Richardson (@intelligibabble)") Leland Richardson (@intelligibabble)
		li: a(href="https://twitter.com/jaffathecake", target="_blank", title="Jake Archibald (@jaffathecake)") Jake Archibald (@jaffathecake)
		li: a(href="https://twitter.com/TheLarkInn", target="_blank", title="Sean Larkin (@TheLarkInn)") Sean Larkin (@TheLarkInn)
		li: a(href="https://twitter.com/hshoff", target="_blank", title="Harrison Shoff (@hshoff)") Harrison Shoff (@hshoff)
		li: a(href="https://twitter.com/csswizardry", target="_blank", title="Harry Roberts (@csswizardry)") Harry Roberts (@csswizardry)
		
	h3 UX & UI Web
	ul
		li: a(href="https://twitter.com/IATV", target="_blank", title="Jan Jursa (@IATV)") Jan Jursa (@IATV)
		li: a(href="https://twitter.com/khoi", target="_blank", title="Khoi Vinh (@khoi)") Khoi Vinh (@khoi)
		li: a(href="https://twitter.com/ireneau", target="_blank", title="Irene Au (@ireneau)") Irene Au (@ireneau)
		li: a(href="https://twitter.com/olof_s", target="_blank", title="Olof Schybergson (@olof_s)") Olof Schybergson (@olof_s)
		li: a(href="https://twitter.com/usabilitycounts", target="_blank", title="Patrick Neeman (@usabilitycounts)") Patrick Neeman (@usabilitycounts)
		li: a(href="https://twitter.com/lauraklein", target="_blank", title="Laura Klein (@lauraklein)") Laura Klein (@lauraklein)
		li: a(href="https://twitter.com/karenmcgrane", target="_blank", title="Karen McGrane (@karenmcgrane)") Karen McGrane (@karenmcgrane)
		li: a(href="https://twitter.com/dburka", target="_blank", title="Daniel Burka (@dburka)") Daniel Burka (@dburka)
		li: a(href="https://twitter.com/peterme", target="_blank", title="Peter Merholz (@peterme)") Peter Merholz (@peterme)
		li: a(href="https://twitter.com/halvorson", target="_blank", title="Kristina Halvorson (@halvorson)") Kristina Halvorson (@halvorson)
		li: a(href="https://twitter.com/uxlinks", target="_blank", title="UX Links (@uxlinks)") UX Links (@uxlinks)
		li: a(href="https://twitter.com/wasbuxton", target="_blank", title="Bill Buxton (@wasbuxton)") Bill Buxton (@wasbuxton)
		li: a(href="https://twitter.com/jnd1er", target="_blank", title="Don Norman (@jnd1er)") Don Norman (@jnd1er)
		li: a(href="https://twitter.com/skrug", target="_blank", title="Steve Krug (@skrug)") Steve Krug (@skrug)
	
	h3 UX & UI Mobile
	ul
		li: a(href="https://twitter.com/MeasuringU", target="_blank", title="MeasuringU (@MeasuringU)") MeasuringU (@MeasuringU)
		li: a(href="https://twitter.com/lukew", target="_blank", title="Luke Wroblewski (@lukew)") Luke Wroblewski (@lukew)
		li: a(href="https://twitter.com/just_in_mind", target="_blank", title="Justinmind (@just_in_mind)") Justinmind (@just_in_mind)
		li: a(href="https://twitter.com/AdhamDannaway", target="_blank", title="Adham Dannaway (@AdhamDannaway)") Adham Dannaway (@AdhamDannaway)
		li: a(href="https://twitter.com/taylorling", target="_blank", title="Taylor Ling (@taylorling)") Taylor Ling (@taylorling)	
		li: a(href="https://twitter.com/justinmifsud", target="_blank", title="Justin Mifsud (@justinmifsud)") Justin Mifsud (@justinmifsud)
		li: a(href="https://twitter.com/WalkMeUX", target="_blank", title="WalkMe For UX (@WalkMeUX)") WalkMe For UX (@WalkMeUX)
		li: a(href="https://twitter.com/jmspool", target="_blank", title="Jared Spool (@jmspool)") Jared Spool (@jmspool)			
		li: a(href="https://twitter.com/whatusersdo", target="_blank", title="WhatUsersDo (@whatusersdo)") WhatUsersDo (@whatusersdo)		
	
	h3 Sites
	ul
		li: a(href="https://twitter.com/JavaScriptDaily", target="_blank", title="JavaScriptDaily") @JavaScriptDaily
		li: a(href="https://twitter.com/smashingmag", target="_blank", title="Smashing Magazine‏") @smashingmag
		li: a(href="https://twitter.com/sitepointdotcom", target="_blank", title="Sitepoint") @sitepointdotcom
		li: a(href="https://twitter.com/FrontEndDaily", target="_blank", title="FrontEndDaily") @FrontEndDaily
		li: a(href="https://twitter.com/Real_CSS_Tricks", target="_blank", title="CSS-Tricks") @Real_CSS_Tricks
		li: a(href="https://twitter.com/RisingStack", target="_blank", title="RisingStack") @RisingStack
		li: a(href="https://twitter.com/TrendingGithub", target="_blank", title="TrendingGithub") @TrendingGithub
		li: a(href="https://twitter.com/TheNextWeb", target="_blank", title="TheNextWeb") @TheNextWeb
		li: a(href="https://twitter.com/NodeSource", target="_blank", title="NodeSource") @NodeSource
		li: a(href="https://twitter.com/ReactJS_News", target="_blank", title="ReactJS News") @ReactJS_News
		li: a(href="https://twitter.com/echojs", target="_blank", title="Echo JS") @echojs
		li: a(href="https://twitter.com/materialup", target="_blank", title="MaterialUp") @MaterialUp
		li: a(href="https://twitter.com/googledevs", target="_blank", title="Google Developers") @googledevs
		li: a(href="https://twitter.com/AWWWARDS", target="_blank", title="AWWWARDS") @awwwards

	h2 3.- GitHub
	p Github es otra fuente de información muy importante debido a que en esta plataforma se alojan la mayoría de proyectos de Open Source Software (OSS).
	
	h3 Trending	
	p Algo que nosotros hacemos muy a menudo es revisar la sección Trending de Github (Tendencias) y filtrar el resultado en base al lenguaje que nos interesa, por ejemplo:
	
	ul
		li: a(href="https://github.com/trending", target="_blank", title="Github Trending - Todos los lenguajes") Github Trending - Todos los lenguajes
		li: a(href="https://github.com/trending/javascript", target="_blank", title="Github Trending - Javascript") Javascript
		li: a(href="https://github.com/trending/css", target="_blank", title="Github Trending - CSS") CSS
		li: a(href="https://github.com/trending/html", target="_blank", title="Github Trending - HTML") HTML
		li: a(href="https://github.com/trending/typescript", target="_blank", title="Github Trending - Typescript") Typescript
	
	p De esta forma podemos estar al tanto de los últimos proyectos de desarrollo que están siendo tendencia en este momento!. 
	
	h3 Open source showcases
	p Adicionalmente también revisamos los Github Showcases (repositorios populares organizados por categorías).  
	
	ul
		li: a(href="https://github.com/showcases", target="_blank", title="Github Trending - Github Showcases") Github Showcases - Repositorios populares categorizados por temas
		li: a(href="https://github.com/showcases/web-accessibility", target="_blank", title="Github Showcases - Accesibilidad web") Accesibilidad web
		li: a(href="https://github.com/showcases/web-application-frameworks", target="_blank", title="Github Showcases - Frameworks para desarrollo web") Frameworks para desarrollo web
		li: a(href="https://github.com/showcases/programming-languages", target="_blank", title="Github Showcases - Lenguajes de programación más populares") Lenguajes de programación más populares
		li: a(href="https://github.com/showcases/clean-code-linters", target="_blank", title="Github Showcases - Herramientas para tener Código limpio") Herramientas para tener Código limpio
		li: a(href="https://github.com/showcases/tools-for-open-source", target="_blank", title="Github Showcases - Herramientas para Open Source Software") Herramientas para Open Source Software
		li: a(href="https://github.com/showcases/front-end-javascript-frameworks", target="_blank", title="Github Showcases - Front-end JavaScript frameworks") Front-end JavaScript frameworks
		li: a(href="https://github.com/showcases/package-managers", target="_blank", title="Github Showcases - Gestores de paquetes") Gestores de paquetes
		li: a(href="https://github.com/showcases/design-essentials", target="_blank", title="Github Showcases - Herramientas para Diseño") Herramientas para Diseño

	h3 Usuarios Profesionales
	p  Luego de revisar los repositorios con mayor tendencia y los repositorios más populares por categoría, revisamos quiénes son los desarrolladores que están detrás de esos commits y los comenzamos a seguir en Github, de esa forma al ingresar a Github tendremos un resumen de la actividad de estos desarrolladores en GitHub. Algunos de estos desarrolladores son:
	
	ul
		li: a(href="https://github.com/zpao", target="_blank", title="Paul O’Shannessy") Paul O’Shannessy
		li: a(href="https://github.com/spicyj", target="_blank", title="Ben Alpert") Ben Alpert
		li: a(href="https://github.com/yyx990803", target="_blank", title="Evan You") Evan You
		li: a(href="https://github.com/IgorMinar", target="_blank", title="Igor Minar") Igor Minar
		li: a(href="https://github.com/petebacondarwin", target="_blank", title="Pete Bacon Darwin") Pete Bacon Darwin
		li: a(href="https://github.com/braddunbar", target="_blank", title="Brad Dunbar") Brad Dunbar
		li: a(href="https://github.com/sindresorhus", target="_blank", title="Sindre Sorhus") Sindre Sorhus
		li: a(href="https://github.com/passy", target="_blank", title="Pascal Hartig") Pascal Hartig
		li: a(href="https://github.com/addyosmani", target="_blank", title="Addy Osmani") Addy Osmani
		li: a(href="https://github.com/rwjblue", target="_blank", title="Robert Jackson") Robert Jackson
		li: a(href="https://github.com/wagenet", target="_blank", title="Peter Wagenet") Peter Wagenet
		li: a(href="https://github.com/sorvell", target="_blank", title="Steve Orvell") Steve Orvell
		li: a(href="https://github.com/EisenbergEffect", target="_blank", title="Rob Eisenberg") Rob Eisenberg
		li: a(href="https://github.com/cpojer", target="_blank", title="Christoph Pojer") Christoph Pojer
		li: a(href="https://github.com/vjeux", target="_blank", title="Christopher Chedeau") Christopher Chedeau
		li: a(href="https://github.com/boennemann", target="_blank", title="Stephan Bönnemann") Stephan Bönnemann
		li: a(href="https://github.com/thejameskyle", target="_blank", title="James Kyle") James Kyle
	
	p También puedes buscar con sus nombres en Twitter y empezar a seguirlos.
	
	h2 4.- Sitios de interés y Otros recursos
	p También acostumbramos revisar algunos sitios web para inspirarnos o para conocer algunas nuevas tendencias, aquí dejamos algunos enlaces interesantes:
	
	ul
		li: a(href="https://codepen.io/pens/picks/", target="_blank", title="CodeOpen - Picks") CodeOpen - Picks
		li: a(href="https://tympanus.net/codrops/", target="_blank", title="Codrops") Codrops
		li: a(href="https://csspeeper.com/", target="_blank", title="CSS Peeper") CSS Peeper
		li: a(href="http://cssdeck.com/", target="_blank", title="CSS Deck") CSS Deck
		li: a(href="https://dribbble.com/", target="_blank", title="Dribbble") Dribbble
		li: a(href="http://www.csswinner.com/", target="_blank", title="CSS Winner") CSS Winner
		li: a(href="https://site.uplabs.com/posts/c/resources", target="_blank", title="Up Labs") Up Labs
		li: a(href="https://www.producthunt.com/", target="_blank", title="ProductHunt") ProductHunt
		li: a(href="http://www.heropatterns.com", target="_blank", title="Hero Patterns") Hero Patterns
		li: a(href="http://colours.neilorangepeel.com/", target="_blank", title="CSS Colors") CSS Colors
		li: a(href="https://icomoon.io", target="_blank", title="IcoMoon") IcoMoon
		li: a(href="https://stackoverflow.com/jobs?sort=i&q=frontend", target="_blank", title="Stackoverflow Jobs") Stackoverflow Jobs
		li: a(href="https://www.codewars.com/?language=javascript", target="_blank", title="Code Wars - Javascript") Code Wars - Javascript
		li: a(href="http://hackingui.com/", target="_blank", title="Hacking UI") Hacking UI
		li: a(href="https://github.com/dypsilon/frontend-dev-bookmarks" target="_blank", title="Coleccion de recursos para desarrolladores frontend") Colección de recursos para desarrolladores frontend
		li: a(href="https://ssearch.oreilly.com/?q=frontend", target="_blank", title="O Reilly") OReilly
		li: a(href="https://github.com/sdmg15/Best-websites-a-programmer-should-visit", target="_blank", title="Lista de Sitios web para revisar") Lista de Sitios Web que un desarrollador debe visitar

	p Como pueden ver, existen muchísimos recursos para poder aprender todo lo nuevo acerca del desarrollo Front-end. De igual forma, uno siempre mejora las técnicas (techs) de estudio, aprendizaje e investigación acerca de los temas que más le interesan.
	
	p Si conocen más recursos interesantes por favor no se olviden hacérnoslo saber escribiendo en nuestra sección de comentarios. Para así poder actualizar el artículo con tus recomendaciones, recuerda que nosotros también queremos saber cómo te actualizas tú!.
	
	p Si te gustó este artículo de Frontend Labs o te pareció útil no olvides compartirlo!. 
	
	p
		img(class="aligncenter", src="https://frontendlabs.io/wp-content/uploads/2014/11/logofe.png", alt="FrontendLabs")
