/*---------------------------------------------------------
 9. Forms (_forms.scss)
-------------------------------------------------------- */
button,
input,
textarea {
	max-width: 100%;
	font-family: inherit;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	border: none;
	border-bottom: 2px solid #333;
	border-radius: 0;
	background: transparent;
	font-size: 16px;
	@include rem('padding', $base/2 0);
	&:focus {
		outline: none; //reset
	}
}

label {
	display: block;
	padding-top: 10px;
}

legend {
	text-transform: uppercase;
}

textarea {
	resize: vertical;
	border: 2px solid #333;
	@include rem('padding', $base/2);
}

select {
	max-width: 100%;
	outline: none; //reset
}
/*---------------------------------------------------------
 Buttons (_forms.scss)
-------------------------------------------------------- */
button,
.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	display: inline-block;
	background: transparent;
	color: #111112;
	border: 2px solid #111112;
	@include rem('padding', 8px 15px);
	@include transition(all 150ms);
	line-height: 1.3;
	&:hover {
		background: #111112;
		color: #fff;
	}
}

.search-form {
	position: relative;
	label {
		padding-top: 0;
	}
}

.search-field {
	-webkit-appearance: none !important;
	width: 100%;
	border: 2px solid #333;
	@include rem(font-size, 15px);
	@include rem(padding-right, 60px);
}

.search-submit {
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	text-align: center;
	padding: 5px;
	height: 100%;
}
